html {
  background-image: url('../src/images/background.png');
  box-sizing: border-box;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8rem;
  font-weight: 600;
  margin-top: 4rem;
  text-align: center;
}

h2 {
  border: 0.1rem solid white;
  border-radius: 0.7rem;
  font-size: 3rem;
  font-weight: 500;
  margin: 5.7rem auto;
  padding: 1.2rem;
  text-align: center;
  width: 60%;
}

.planets-display {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.planet-card {
  flex: 1;
  width: 100%;
}

img {
  width: 100%;
}

.mission-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.mission-card {
  border: 1px solid white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  height: 32.8rem;
  width: 35.5rem;
}

.card-mission-title {
  border-bottom: 0.1rem solid white;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
}

.card-mission-info {
  font-size: 2.1rem;
  text-align: center;
}
